<div class="container">
  <div class="row">

    <div class="col-md-12">

      <form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Register Here</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Name</label>
  <div class="col-md-6">
  <input id="textinput" name="username" type="text" placeholder="Enter your Name" class="form-control input-md" ng-model="registerForm.username" required /><!--ng-model="post.username" -->

  </div>
</div>

<!-- Text input-->
<!--<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Email</label>
  <div class="col-md-6">
  <input id="textinput" name="useremail" type="text" placeholder="Enter your email" class="form-control input-md" ng-model="post.useremail" required />

  </div>
</div>-->

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="passwordinput">Password</label>
  <div class="col-md-6">
    <input id="passwordinput" name="userpassword" type="password" placeholder="Enter password" class="form-control input-md" ng-model="registerForm.password" required /><!--ng-model="post.userpassword" -->

  </div>
</div>

<!-- Text input-->
<!--<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">City</label>
  <div class="col-md-6">
  <input id="textinput" name="usercity" type="text" placeholder="Enter your city or Location" class="form-control input-md" ng-model="post.usercity" required />

  </div>
</div>-->

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class=" glyphicon glyphicon-ok btn-success" ng-click="register()">Register</button><!--ng-click="signupinsert()" -->
  </div>
</div>

</fieldset>
</form>


    </div>

  </div>

</div>
